@model UniVest.Models.Vestibular

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vestibular</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditalUni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditalUni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Universidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Universidade.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
