@model IEnumerable<UniVest.Models.Vestibular>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevista1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevista2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevista3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevista4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditalUni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditalProvao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Universidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevista1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevista2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevista3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevista4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditalUni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditalProvao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Universidade.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
